@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.NavigationOption{
    display: flex;
    padding: 1.30rem 2.65rem;
    background-color: #101010;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.Starting{

width: 114px;
height: 43px;
left: 43px;
top: 21px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Ending{
    display: flex;
    align-items: center;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    
}

.userName{
    margin-right: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.image{
    border-radius: 22px;
}