@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.main {
  min-height: 100vh;
  background-color: #383535;
}

.noRides{
  font-size: 44px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
